<section class="abaut">
    <div class="conteiner">
        <p class="abaut-pre__title">tradition and love</p>
        <h2 class="abaut__title">how it’s made?</h2>
            <div class="abaut__foto">
                    <picture class="abaut__img">
                        <source
                srcset="
                ./images/kow/kow-dest-1x.png 1x,
                ./images/kow/kow-dest-2x.png 2x"
                media="(min-width:1200px)"/>
            <source
                srcset="
                ./images/kow/kow-tab-1x.png 1x,
                ./images/kow/kow-tab-2x.png 2x"
                media="(min-width:768px)"/>
            <source
                srcset="
                ./images/kow/kow-tel-1x.png 1x,
                ./images/kow/kow-tel-2x.png 2x"
                media="(max-width:767px)"/>
            <img src="./images/kow/kow-tel-1x.png"
                alt="a cow on the grass " 
                width ="279" height ="279">
                    </picture>
                </div>
                <div class="abaut__text">
                    <ul class="abaut__list list">
                        <li class="abaut__item">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</li>
                        <li class="abaut__item">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</li>
                    </ul>
                </div>
                <button class="abaut__btn btn">Read more
                    <svg class="abaut__btn__icon" width="12" height ="12">
                    <use href="./images/icons.svg#icon-Frame-btn"></use>
                    </svg>
                </button>
    </div>
</section>
        <div class="backdrop is-hidden" data-modal>
            <div class="abaut__modal">
                <button type="button" class="modal__btn">
                    <svg class="icon__cloused" width="16" height="16">
                        <use href="./images/icons.svg#icon-modal-close"></use>
                    </svg>
                </button>
                <h2 class="abaut__modal__title">How it’s made?</h2>
                <div class="thumb-wrap">
                    <iframe width="224" height="199" 
                    src="https://www.youtube.com/embed/hO-7cz7gyAY" 
                    title="How is Ice Cream Made?" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                    encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                    poster="https://st2.depositphotos.com/2716715/5397/i/600/depositphotos_53977781-stock-photo-hand-holding-an-ice-cream.jpg?w=224">
                    </iframe>
                </div>
                    <p class="abaut-modal__text">Special techniques are employed to make ice cream that creates smaller ice crystals and incorporates air, which produces a soft texture.
                        Constantly churning ice cream, whether by hand or mechanically, ensures that large, stiff ice crystals do not form within the mixture. The churning process also serves to introduce air and create a foam-like texture, further softening the mixture. 
                    </p>
            </div>
        </div>

