<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="footer__container container">
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__title2">with passion</p>
            <div class="footer__social">
                <ul class="social list">
                  <li class="social__item">
                    <a href="" class="social__link link">
                      <svg class="social__icon" width="32" height="32">
                        <use href="./images/icons.svg#icon-github"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social__item">
                    <a href="" class="social__link link">
                      <svg class="social__icon" width="32" height="32">
                        <use href="./images/icons.svg#icon-telegram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social__item">
                    <a href="" class="social__link link">
                      <svg class="social__icon" width="32" height="32">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer__contact">
              <p class="footer__invite">Feel free to contact</p>
              <ul>
                <li class="footer__item">
                    <a href="tel:+610383766284 " class="footer__tel link">+61(0) 383 766 284</a>
                  </li>
              </ul>
            </div>
            <div class="footer__copyright"> 
              <p>&#169; 2022 - IceCream.</p>
              <p>All Rights Reserved.</p>
            </div>
        </div>
      </footer>
</body>
</html>