<!-- <div class="backdrop">

    <div class="header-modal">
        <div class="header-modal__close">
            <button type="button" class="">
                <svg class="header-modal__svg" width="16" height="16">
                    <use href="../images/icons.svg#icon-close-line-header-modal"></use>
                </svg>
            </button>
        </div>
        <h3 class="header-modal__subtitle">Buy now</h3>
        <ul class="header-modal__product">
            <li class="header-modal__list">
                <div class="header-modal__ice-cream">
                    <p>ice cream</p>
                </div>
                <div class="header-modal__ball-icecream"></div>
                <picture>
                    <source srcset="
                    ./images/header-modal/desktop-icecream.png 1x,
                    ./images/header-modal/desktop-icecream-x2.png 2x"
                    media="(min-width:1200px)">
                    <source srcset="
                    ./images/header-modal/mob-icecream.png 1x,
                    ./images/header-modal/mob-icecream-x2.png 2x"
                    media="(min-width:768px)">
                    <source srcset="
                    ./images/header-modal/mob-icecream.png 1x,
                    ./images/header-modal/mob-icecream-x2.png 2x"
                    media="(min-width:320px)">
                    <img src="./images/header-modal/mob-icecream.png" alt="Ice Cream" width="132" height="132">
                </picture>
            </li>
            <li class="header-modal__list">
                <div class="header-modal__ice-coffee">
                    <p>ice coffee</p>
                </div>
                <div class="header-modal__ball-icecoffee"></div>
                <picture>
                    <source srcset="
                    ./images/header-modal/desktop-icecoffee.png 1x,
                    ./images/header-modal/desktop-icecoffee-x2.png 2x"
                    media="(min-width:1200px)">
                    <source srcset="
                    ./images/header-modal/mob-icecoffee.png 1x,
                    ./images/header-modal/mob-icecoffee-x2.png 2x"
                    media="(min-width:768px)">
                    <source srcset="
                    ./images/header-modal/mob-icecoffee.png 1x,
                    ./images/header-modal/mob-icecoffee-x2.png 2x"
                    media="(min-width:320px)">
                    <img src="./images/header-modal/mob-icecoffee.png" alt="Ice Cream" width="132" height="132">
                </picture>
            </li>
            <li class="header-modal__list">
                <div class="header-modal__milkshake">
                    <p>milkshake</p>
                </div>
                <div class="header-modal__ball-milkshake"></div>
                <picture>
                    <source srcset="
                    ./images/header-modal/desktop-milkshake.png 1x,
                    ./images/header-modal/desktop-milkshake-x2.png 2x"
                    media="(min-width:1200px)">
                    <source srcset="
                    ./images/header-modal/mob-milkshake.png 1x,
                    ./images/header-modal/mob-milkshake-2x.png 2x"
                    media="(min-width:768px)">
                    <source srcset="
                    ./images/header-modal/mob-milkshake.png 1x,
                    ./images/header-modal/mob-milkshake-2x.png 2x"
                    media="(min-width:320px)">
                    <img src="./images/header-modal/mob-milkshake.png" alt="Ice Cream" width="132" height="132">
                </picture>
            </li>
        </ul>
        <form class="header-modal__form">
            <input type="name" class="header-modal__input" placeholder="Name">
            <input type="phone" class="header-modal__input" placeholder="Phone">
            <textarea name="" id="" cols="30" class="header-modal__area" rows="10" placeholder="Comment"></textarea>
            <button type="submit" class="header-modal__btn">Submit</button>
        </form>
    </div>
</div> -->
=======
  <div class="header-modal">
    <div class="header-modal__close">
      <button type="button" class="">
        <svg class="header-modal__svg" width="16" height="16">
          <use href="./images/icons.svg#icon-close-line-header-modal"></use>
        </svg>
      </button>
    </div>
    <h3 class="header-modal__subtitle">Buy now</h3>
    <ul class="header-modal__product">
      <li class="header-modal__list">
        <div class="header-modal__ice-cream">
          <p>ice cream</p>
        </div>
        <div class="header-modal__ball-icecream"></div>
        <picture>
          <source srcset="#" />
        </picture>
      </li>
      <li class="header-modal__list">
        <div class="header-modal__ice-coffee">
          <p>ice coffee</p>
        </div>
        <div class="header-modal__ball-icecoffee"></div>
        <picture>
          <source srcset="#" />
        </picture>
      </li>
      <li class="header-modal__list">
        <div class="header-modal__milkshake">
          <p>milkshake</p>
        </div>
        <div class="header-modal__ball-milkshake"></div>
        <picture>
          <source srcset="#" />
        </picture>
      </li>
    </ul>
    <form class="header-modal__form">
      <input type="name" class="header-modal__input" placeholder="Name" />
      <input type="phone" class="header-modal__input" placeholder="Phone" />
      <textarea
        name=""
        id=""
        cols="30"
        class="header-modal__area"
        rows="10"
        placeholder="Comment"
      ></textarea>
      <button type="submit" class="header-modal__btn">Submit</button>
    </form>
  </div>
</div> -->

