<section class="products">
    <div class="ic"></div>
    <div class="icof"></div>
    <div class="mash"></div>
    <div class="container">
        <h1 class="container__title">products</h1>
        <ul class="products__list list">
            <li class="products__item ice-cream">
                <!-- <img src="./img/ice-cream-1x-min.jpeg" width="200px" height="200px" alt="ice-crema"
                    class="products__img"> -->
                <h2 class="products__title">ice cream</h2>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer</p>
                <button class="products__btn">
                    <svg class="products__arrow" width="40px" height="0">
                        <!-- <use href="./img/symbol.svg#icon-arrow1"></use> -->
                    </svg>
                </button>
            </li>
            <li class="products__item ice-coffee">
                <!-- <img src="./img/ice-coffee-1x-min.jpeg" width="200px" height="200px" alt="ice-coffee"
                    class="products__img"> -->
                <h2 class="products__title">ice coffee</h2>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the
                    use of
                    preservatives and flavor enhancers</p>
                <button class="products__btn">
                    <svg class="products__arrow" width="40px" height="0">
                        <!-- <use href="./img/symbol.svg#icon-arrow1"></use> -->
                    </svg>
                </button>
            </li>
            <li class="products__item milkshakes">
                <!-- <img src="./img/milkshakes-1x-min.jpeg" width="200px" height="200px" alt="milkshakes"
                    class="products__img"> -->
                <h2 class="products__title">milkshakes</h2>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                    berries
                    and other sweets of your choice</p>
                <button class="products__btn">
                    <svg class="products__arrow" width="40px" height="0">
                        <!-- <use href="./img/symbol.svg#icon-arrow1"></use> -->
                    </svg>
                </button>
            </li>
        </ul>
    </div>

</section>