<section class="products">
    <div class="products__container">
        <h1 class="container__title"><span class="product__accent">100% natural</span> products</h1>
        <ul class="products__list list">
            <li class="products__item">
                <img src="./images/products/ice-cream-1x-min.jpeg" width="200px" height="200px" alt="ice-crema"
                    class="products__img">
                <img 
                    src="./images/products/eclipse-ic.svg" 
                    width="200px" 
                    height="200px" 
                    alt="ice-crema" 
                    class="products__img-bg ice-cre"
                >
                <div class="product__content  ice-cream">
                    <div class="products__content-place">
                        <h2 class="products__title"> ice cream</h2>
                        <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                            stabilizer</p>
                    </div>
                    
                    <button class="products__btn btn">
                        <svg class="products__arrow" width="40px" height="">
                            <use href="./images/products/symbol.svg#icon-arrow1"></use>
                        </svg>
                    </button>
                </div>
                
            </li>
            <li class="products__item">
                <img src="./images/products/ice-coffee-1x-min.jpeg" width="200px" height="200px" alt="ice-coffee"
                    class="products__img">
                <img 
                    src="./images/products/ellipse-ic-co.svg" 
                    width="200px" 
                    height="200px" 
                    alt="ice-crema" 
                    class="products__img-bg ice-co"
                >
                <div class="product__content ice-coffee">
                    <div class="products__content-place">
                        <h2 class="products__title">ice coffee</h2>
                        <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the
                            use of
                            preservatives and flavor enhancers</p>
                    </div>
                    
                    <button class="products__btn btn">
                        <svg class="products__arrow" width="40px" height="">
                            <use href="./images/products/symbol.svg#icon-arrow1"></use>
                        </svg>
                    </button>
                </div>
                
            </li>
            <li class="products__item">
                <img src="./images/products/milkshakes-1x-min.jpeg" width="200px" height="200px" alt="milkshakes"
                    class="products__img">
                <img 
                    src="./images/products/ellipse-mil.svg" 
                    width="200px" 
                    height="200px" 
                    alt="ice-crema" 
                    class="products__img-bg mil"
                >
                <div class="product__content milkshakes">
                    <div class="products__content-place">
                        <h2 class="products__title">milkshakes</h2>
                        <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                            berries
                            and other sweets of your choice</p>
                    </div>
                    
                    <button class="products__btn btn">
                        <svg class="products__arrow" width="40px" height="">
                            <use href="./images/products/symbol.svg#icon-arrow1"></use>
                        </svg>
                    </button>
                </div>
                
            </li>
        </ul>
    </div>

</section>