.franchise-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 674px;
    width: 90%;
    max-width: 280px;
    padding: 28px 30px 28px 29px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @include tablet{
        min-height: 668px;
        max-width: 568px; 
    }
    
    @include desktop{
        max-width: 568px;
        min-height: 668px;
        padding: 32px 60px;
    }
}

.franchise-modal__btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;
    @include tablet{
        top: 25px;
        right: 25px;
    }
}

.modal__close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include tablet{
        width: 20px;
        height: 20px;
    }
}

.franchise-modal__title{
    font-family: 'Seymour One';
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 221px;
}

.franchise-modal__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 24px;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    } 

.franchise-modal__form-input{
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    width: 224px;
    height: 32px;
    padding: 8px 0px 7px 12px;
    margin-bottom: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    line-height:1.41;
    color: #131313;
}

.franchise-modal__feedback-form{
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    resize: none;
    height: 64px;
    width: 224px;
    padding: 8px 0px 39px 12px;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    line-height:1.41;
    color: #131313;
}


.franchise-modal__send-btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #131313;
    background: #F8D24E;
    border-radius: 10px;
    padding: 12px 34px;
    cursor: pointer;
    border-color: transparent;
    
    
}