.abaut{
    background-color: #84A178;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        @include font(400, 30px, 1.26, 0.04em);
        font-family: 'Seymour One';
        font-style: normal;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        color: #FCFCFC;
        width: 200px;
        }
    &__foto{
        margin-top: 32px;
        text-align: center;
        // position: relative
        }
    &__img{
        width: 278px;
        height: 278px;
        background-color: transparent;
        // position: absolute;
        }
        &__text{
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
            display: block;
        }
        &__list{
            margin-bottom: 4px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
        &__item{
        @include font(400, 12px, 176%, 0.04em);
        color: #FCFCFC;
        }
        &__btn{
            @include font(600, 14px, 1.88, .06em);
            width: 164px;
            height: 42px;
            padding: 12px 34px;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: #F8D24E;
            &:hover,
            &:focus {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                cursor: pointer;
                }
            }
}

.abaut__btn__icon{
    margin-left: 4px;
}

.abaut-pre__title{
    @include font(700, 30px, 1.23, 0.04em);
    font-style: normal;
    color: #FCFCFC;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

                      // --------------modal---------------

    .abaut__modal{
    max-width: 280px;
    min-height: 459px;
    padding: 28px;
    position: absolute;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
}

.icon__cloused{
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill:#131313;
}







thumb-wrap {
    // position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.thumb-wrap iframe {
    // position: absolute;
    top: 0;
    left: 0;
    width: 224px;
    height: 199px;
    border-width: 0;
    outline-width: 0;
}