.advantages {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 180px;
}
.advantages__flex {
  @media screen and (max-width: 767px) {
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text__list {
  padding-top: 40px;

  @include tablet {
    width: 370px;
    margin-right: 32px;
    padding-top: 20px;
  }

  @include desktop {
    width: 463px;
    margin-left: 100px;
  }
}

.text__item-1 {
  @include font(400, 12, 1.75, 0.04);
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  margin-bottom: 4px;
  text-align: center;
  color: #fcfcfc;

  @include tablet {
    margin-bottom: 8px;
    margin-left: 32px;
    text-align: left;
    width: 334px;
  }

  @include desktop {
    text-align: left;
    width: 341px;
  }
}

.text__item-2 {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  text-align: center;
  color: #fcfcfc;

  @include tablet {
    margin-left: 32px;
    text-align: left;
    width: 334px;
    letter-spacing: 0.04em;
  }
}

.media {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include tablet {
    // margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.up-title {
  @include font(700, 18, 1.22, 0.04);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #fcfcfc;
}

.about-title {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-family: 'Seymour One';
  @include font(400, 30, 1.27, 0.04);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: #fcfcfc;

  @include tablet {
    width: auto;
    margin-bottom: 72px;
  }
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #131313;
}

.design {
  background: #f8d24e;
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 34px;

  margin-top: 20px;
  margin-bottom: 42px;

  @include tablet {
    margin-top: 48px;
    margin-bottom: 53px;
  }

  &:hover {
    @include desktop {
      background-color: #0a8817;
    }
  }

  &:focus {
    @include desktop {
      background-color: #0a8817;
      color: #fcfcfc;
    }
  }
}

.wraper {
  margin-bottom: 16px;
  @include flex;

  @include tablet {
    @include flex;
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.btn-flex {
  @include flex;

  @include tablet {
    justify-content: flex-start;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 50%;
}

.cow::after {
  content: url(/src/images/kow/cow.png);
}

.weight::after {
  content: url(/src/images/kow/weight.png);
}

.icecrema:after {
  content: url(/src/images/kow/icecrema.png);
}

.numbers {
  font-family: 'Roboto';
  @include font(700, 36, 1.17, 0.04);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #fcfcfc;

  @include tablet {
    font-family: 'Montserrat';
    @include font(700, 48, 1.23, 0.04);
    margin-bottom: 16px;
  }

  @include desktop {
    font-family: 'Montserrat';
    @include font(700, 58, 1.22, 0.04);
    margin-bottom: 16px;
  }
}

.second-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 25px;
  color: #fcfcfc;

  @include tablet {
    width: 152px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.advantages__list {
  list-style: none;

  @include tablet {
    @include flex;
  }

  @include desktop {
    display: flex;
  }
}

.advantages__item {
  @include tablet {
    margin-right: 80px;
  }

  @include desktop {
    margin-right: 32px;
  }

  &:last-child {
    @include desktop {
      margin-right: 0;
    }
  }

  &:last-child {
    @include tablet {
      margin-right: 0;
    }
  }
}
